body{
    
            background-repeat: no-repeat;
            background-position: center ;
     background-size: cover;
}


.con{
    padding: 1px;
}
.img-1{
    border-radius: 25px 25px 25px 25px;
    width: 80%;
    margin-bottom: 20px;
    height: 40%;
    margin-top: 30px;
}
.img-2{
    border-radius: 25px 25px 25px 25px;
    width: 170px;
    margin: 6px;
    margin-top: 20px;
    height: 170px;
}
.img-3{
    border-radius: 25px 25px 25px 25px;
    width: 100%;
    height: 100%;
}
.img-4{
    width: 100%;
    height: 100%;
    position: center center;
    
    
    
}
.button1{
    background-color: #000  ;
    font-size: 25px;
    position: center center;
}


aside{
    width: 100%;
    display: block;
    margin: 0 ;
}
.wrapper{
    display:grid;
    grid-template-columns:  50% 50% ;
}

h1{
    margin-top: 45%;
    margin-left: 35%;
    color: 000;
    font-family:fantasy;
    position:absolute;
    font-size: 25px
           
}
h2{
    margin-top: 45%;
    margin-left: 20%;
    color: 000;
    
    position:absolute;
    font-size: 20px
           
}


.container {
  grid-template-columns: 10px 50px 100px;
  grid-template-rows: 8px auto 80px; 
  column-gap: 10px;
  
}

    }
}